<div class="row search-div2">
    <h4 class="prod-search"> Product Search: </h4>
    {{input value=value
    key-up=(action 'handleFilterEntry')
    class="light ember-rad" style="margin: 0px!important;"
    placeholder="Input item to search"}}
</div>

{{yield results}}