<div class="mg-10b">
	<td style="width: 272px;text-align: center;vertical-align: inherit;">{{user.userid}}</td>
	<td style="width: 238px;text-align: center;vertical-align: inherit;">{{user.name}}</td>
	<td style="width: 470px;text-align: center;vertical-align: inherit;">{{user.email}}</td>
	<td style="width: 420px;text-align: center;vertical-align: inherit;">
		{{#link-to "users.show" user}}<button class="button gr-btn">View</button>{{/link-to}}
		{{#link-to "users.update" user}}<button class="button">Update</button>{{/link-to}}
		<button class="button re-btn" {{ action 'destroy' }} >Delete</button>
	</td>
</div>