<div class="jumbo update-listing show-u-div create-div">
    <h2 class="title u-alc">Input User Information</h2>
    <div class="detail-section mg-300" style="margin-left: 650px;">
        <h3>General Information</h3>
        <div class="detail">
            <div class="row mb-detail detail-box">
				<h5 class="user-label">User Name: </h5> 
            	<input class="update-input" id="newName" type="text" value={{model.name}}>
            </div>
        </div>
        <div class="detail">
            <div class="row mb-detail detail-box">
				<h5 class="user-label">User Email: </h5> 
            	<input class="update-input" id="newEmail" type="text" value={{model.email}}>
            </div>
        </div>
        <div class="detail">
            <div class="row mb-detail detail-box">
				<h5 class="user-label">User Avatar: </h5> 
            	<input class="update-input" id="newAvatar" type="text" value={{model.avatar}}>
            </div>
        </div>

        <button class="button add-u-btn" {{ action 'addUser' }}> Add User</button>
        {{#link-to "users" class=" list-btn button btn-nohover"}}
            Back to List
        {{/link-to}}
    </div>
</div>
<br><br>
<div class="footer-div"></div>
<div class="">
    <div class="menu footer-cust">
        <div class="links">
            <p class="footer-c">Copyright 2018</p>
        </div>
        {{#link-to "landing"}}
            <h1>
                <em>Gudetama Store</em>
            </h1>
        {{/link-to}}
    </div>
</div>