{{#user-filter
        filter=(action 'filterByName')
as |filteredResults|}}

<div class="" style="margin-left: 300px; margin-top: -48px;">
   <button class="button" style="pointer:cursor;"><a href="users/create" style="color:white;">Add User</a></button>
</div>

<br><br>
 <article class="listing" style="margin-top: 0px!important;width: 1500px;margin-left: 150px; margin-bottom: 100px!important;">
    <table class="table table-hover" style="text-align:center;">
       <thead>
            <th>User ID</th>
            <th>Name</th>
            <th>E-mail Address</th>
            <th style="width:30%;">Action</th>
        </thead> 
        <tbody class="">
         </tbody>
    </table>

    {{#each filteredResults as |userPerson|}}
        {{user-listing user=userPerson}}
    {{/each}}

  </article>

{{/user-filter}}
{{outlet}}
<div style="margin-bottom: 100px;"></div>
<div class="">
    <div class="menu footer-cust">
        <div class="links">
            <p style="color:white;display: table-cell;">Copyright 2018</p>
        </div>
        {{#link-to "landing"}}
            <h1>
                <em>Gudetama Store</em>
            </h1>
        {{/link-to}}
    </div>
</div>