<div class="jumbo show-listing show-u-div">
    <h2 class="title">User Information</h2>
    <div class="right detail-section mg-300">
        <h3>General Information</h3>

        <div class="detail owner">
            <div class="row detail-box">
                <h5 class="user-label">User ID: </h5> 
                {{model.userid}}
            </div>
        </div>
        <div class="detail">
            <div class="row detail-box">
                <h5 class="user-label">User Name: </h5> 
                {{model.name}}
            </div>
        </div>
        <div class="detail">
            <div class="row detail-box">
                <h5 class="user-label">User Email: </h5> 
                {{model.email}}
            </div>
        </div>

        {{#link-to "users" class="button btn-nohover btn-update" style="color:yellow!important;"}}
            Back to List
        {{/link-to}}
    </div>
</div>
<img src="{{model.avatar}}" class="user-pic">
<br><br>

<div class="">
    <div class="menu footer-cust">
        <div class="links">
            <p class="footer-c">Copyright 2018</p>
        </div>
        {{#link-to "landing"}}
            <h1>
                <em>Gudetama Store</em>
            </h1>
        {{/link-to}}
    </div>
</div>