{{product.user.name}}

{{#list-filter
        filter=(action 'filterByTitle')
as |filteredResults|}}
    <ul class="results">
        {{#each filteredResults as |productUnit|}}
            <li>{{product-listing product=productUnit}}</li>
        {{/each}}
    </ul>
{{/list-filter}}
{{outlet}}

<div class="">
    <div class="menu footer-cust">
        <div class="links">
            <p style="color:white;display: table-cell;">Copyright 2018</p>
        </div>
        {{#link-to "landing"}}
            <h1>
                <em>Gudetama Store</em>
            </h1>
        {{/link-to}}
    </div>
</div>