<div class="container">
  <div class="menu">
    {{#link-to "landing"}}
      <h1>
        <em>Gudetama Store</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "products" class="menu-about"}}
        Products
      {{/link-to}}
      {{#link-to "about" class="menu-about"}}
        About
      {{/link-to}}
      {{#link-to "contact" class="menu-contact"}}
        Contact
      {{/link-to}}
    </div>

    <div style="float:right;">
      {{#simple-modal enabled=false title="Login To Your Account" id="modal-main"}}
        <label for="uname"><b>Username</b></label> <br>
        <input type="text" style="overflow: hidden;width: 350px; height: 35px; border-radius: 10px; text-align: center; border-style: solid; border-color: white;" placeholder="Enter Username" name="uname" required=""><br>

        <label for="psw" style="margin-top: 15px;"><b>Password</b></label> <br>
        <input style="overflow: hidden;width: 350px; height: 35px; border-radius: 10px; text-align: center; border-style: solid; border-color: white;" type="password" placeholder="Enter Password" name="psw" required="">
        <br><br>

        <img src="https://mbtskoudsalg.com/images/gudetama-png.png" style="height: 150px; position:  absolute; left: -35px; top: 130px;">

        {{#link-to "products" class="menu-contact login-btnin" style=""}}
          Log In
        {{/link-to}}

      {{/simple-modal}}
      
      <button class="button modal-btn" {{action 'openModal' 'modal-main'}}>Login</button>
    </div>
  </div>

  <div class="body">
    {{outlet}}
  </div>
</div>