<div class="container">
  <div class="menu">
    {{#link-to "landing"}}
      <h1>
        <em>Gudetama Store</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "products" class="menu-about"}}
        Products
      {{/link-to}}
      {{#link-to "about" class="menu-about"}}
        About
      {{/link-to}}
      {{#link-to "contact" class="menu-contact"}}
        Contact
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>