<div class="jumbo">

	<header class="py-5 bg-image-full" style="background-image: url(https://rageon-ios-production.s3.amazonaws.com/1254b1e1-0193-dada-1cee-0277828a1ffb);height: 300px;background-size:contain;"></header>

	<h2 style="margin: 20px 50px;">My Cart</h2>
   	
	<table class="table table-hover" style="margin: auto;text-align:  center;width: 1650px;">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{model.title}}</td>
        <td>{{model.description}}</td>
        <td>{{model.price}}</td>
        <td><button class="button modal-btn">Remove from Cart</button></td>
      </tr>
      <tr>
        <td>Sling Bag</td>
        <td>Lorem ipsum sit dolor amet </td>
        <td>PHP 1250</td>
        <td><button class="button modal-btn">Remove from Cart</button></td>
      </tr>
      <tr>
        <td>Gudetama Mug</td>
        <td>Lorem ipsum sit dolor amet </td>
        <td>PHP 550</td>
        <td><button class="button modal-btn">Remove from Cart</button></td>
      </tr>
    </tbody>
  </table>

  <h3 style="margin: 20px 50px;">Total: PHP 1812</h3>

  <button class="button modal-btn" style="margin: 0px 50px; font-size: 1.5em;">Complete Transaction</button>
</div>

<div class="">
    <div class="menu footer-cust">
        <div class="links">
            <p class="footer-c">Copyright 2018</p>
        </div>
        {{#link-to "landing"}}
            <h1>
                <em>Gudetama Store</em>
            </h1>
        {{/link-to}}
    </div>
</div>