<div class="jumbo">
    <header class="py-5 bg-image-full" style="background-image: url(https://sanrio-production-weblinc.netdna-ssl.com/media/W1siZiIsIjIwMTgvMDUvMjkvMTkvMjUvMjEvNzAzL2dhbWVfcGFnZV9oZWFkZXJfYmFubmVyX0dVLmpwZyJdXQ/game-page-header-banner-GU.jpg?sha=80ebf4f692402de9);height: 250px;"></header>

    <h2 style="margin-top: 25px!important;">Contact Us</h2><br>
    <h4>We Love to Help!</h4><br>
    <p>We'd like your time spent on Sanrio.com to be an enjoyable experience. Please use one of the ways below to contact someone to assist with your Sanrio Online Store purchase or general question or comment.
    <br>
        For support about a past or future Sanrio Online Store purchase, please email customercare@sanrio.com. Customer Care representatives are available Monday – Friday from 9am to 5pm PST.
    <br><br>
        For questions about shipping, please visit our Shipping Info page.
    <br>
        For questions about returns or exchanges, please visit our Returns, Exchanges and Refund page.
    <br>
        For general questions about Sanrio, Inc, please visit our FAQ page or send an email to general@sanrio.com.</p>
    <address>
        Sanrio Ltd. HQ
        <p>
            1212 Test Address Avenue<br>
            Testington, OR 97233
        </p>
        <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
        <a href="mailto:customercare@sanrio.com">customercare@sanrio.com</a>
    </address>
</div>

<div class="">
    <div class="menu footer-cust">
        <div class="links">
            <p style="color:white;display: table-cell;">Copyright 2018</p>
        </div>
        {{#link-to "landing"}}
            <h1>
                <em>Gudetama Store</em>
            </h1>
        {{/link-to}}
    </div>
</div>