<div class="jumbo">
    <header class="py-5 bg-image-full" style="background-image: url(https://cdn.shopify.com/s/files/1/0865/6550/files/GU_Banner.png?8583913760601483815); height: 300px; background-size: cover; margin-bottom: 30px;border-radius: 15px;"></header>    
</div>
{{outlet}}